<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="@*https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css*@"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" />

    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="width:100%; margin:auto; background-color: maroon">
        <img src="~/images/blood_drop.png" style="width:50px; height:50px;"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#AddNewCsvFile">Add new CSV</a>
                <a class="nav-item nav-link active" href="#SelectFilesToVisualize">Select files</a>
                <a class="nav-item nav-link active" href="#totalAmountOfDonatedBlood">Total Amount of Donated Blood</a>
                <a class="nav-item nav-link active" href="#avgQuantityOfDonatedBlood">Average quantity of Donated Blood</a>
                <a class="nav-item nav-link active" href="#topDonators">Top Donators</a>
                <a class="nav-item nav-link active" href="#totalAmountInSingleFile">Total Donated Blood per File</a>
                <a class="nav-item nav-link active" href="#averageAmountOfBloodBySingleFile">Average Donated Blood per File</a>
                <a class="nav-item nav-link active" href="#avgQuantityOfDonatedBloodWithQuantityOfDonationsPerPerson">Average Donated Blood per Person</a>
                <a class="nav-item nav-link active" href="#bloodGroupPercentage">Percentage of Blood Group</a>
                <a class="nav-item nav-link active" href="#bloodFactorPercentage">Percentage of Blood Factor</a>
                <a class="nav-item nav-link active" href="#donatorsDetails">Donators Details</a>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - BloodDonationPlatform</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js "></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
